[submodule "ext/collections-c/Collections-C"]
	path = ext/collections-c/Collections-C
	url = https://github.com/srdja/Collections-C.git
[submodule "ext/lvgl_esp32_drivers"]
	path = ext/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "ext/lvgl"]
	path = ext/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "ext/esp-idf-lib"]
	path = ext/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
[submodule "ext/esp_cron"]
	path = ext/esp_cron
	url = https://github.com/DavidMora/esp_cron.git
[submodule "ext/tahu/tahu"]
	path = ext/tahu/tahu
	url = https://github.com/eclipse/tahu.git
[submodule "ext/esp_cron_components/esp_cron"]
	path = ext/esp_cron_components/esp_cron
	url = https://github.com/DavidMora/esp_cron.git
[submodule "ext/tahu_components/tahu/tahu"]
	path = ext/tahu_components/tahu/tahu
	url = https://github.com/eclipse/tahu.git
